@media screen and (max-width: 600px) {
    .vertical-menu {
        width: 40px;
    }

    .info-menu {
        left: 50px;
        width: 200px;
    }
    .info-menu-bar {
        left: 50px;
        width: 200px;
        height: 40px;
        line-height: 2;
        font-size: medium;
    }
    .info-menu-bar span {
        width: 80%;
    }
    .info-menu-bar a {
        width: 20%;
    }

    .chat-menu {
        left: 50px;
        width: 200px;
    }
    .chat-menu-bar {
        left: 50px;
        width: 200px;
        height: 40px;
        line-height: 2;
        font-size: medium;
    }
    .chat-menu-bar span {
        width: 80%;
    }
    .chat-menu-bar a {
        width: 20%;
    }

    .chat-bar input {
        width: 71%;
        height: 100%;
    }
    .chat-bar a {
        width: 28%;
        height: 100%;
    }

    .themes {
        left: 260px;
    }
}

@media screen and (min-width: 601px) and (max-width: 1920px) {
    .vertical-menu {
        width: 60px;
    }

    .info-menu {
        left: 70px;
        width: 350px;
    }
    .info-menu-bar {
        left: 70px;
        width: 350px;
        height: 40px;
        line-height: 2;
        font-size: medium;
    }
    .info-menu-bar span {
        width: 90%;
    }
    .info-menu-bar a {
        width: 10%;
    }

    .chat-menu {
        left: 70px;
        width: 350px;
    }
    .chat-menu-bar {
        left: 70px;
        width: 350px;
        height: 40px;
        line-height: 2;
        font-size: medium;
    }
    .chat-menu-bar span {
        width: 90%;
    }
    .chat-menu-bar a {
        width: 10%;
    }
    
    .chat-bar input {
        width: 85%;
        height: 100%;
    }
    .chat-bar a {
        width: 14%;
        height: 100%;
    }

    .themes {
        left: 430px;
    }
}

@media screen and (min-width: 1921px){
    .vertical-menu {
        width: 80px;
    }

    .info-menu {
        left: 90px;
        width: 450px;
    }
    .info-menu-bar {
        left: 90px;
        width: 450px;
        height: 50px;
        line-height: 3;
        font-size: large;
    }
    .info-menu-bar span {
        width: 90%;
    }
    .info-menu-bar a {
        width: 10%;
    }

    .chat-menu {
        left: 90px;
        width: 450px;
    }
    .chat-menu-bar {
        left: 90px;
        width: 450px;
        height: 50px;
        line-height: 3;
        font-size: large;
    }
    .chat-menu-bar span {
        width: 90%;
    }
    .chat-menu-bar a {
        width: 10%;
    }

    .chat-bar input {
        width: 85%;
        height: 100%;
    }
    .chat-bar a {
        width: 14%;
        height: 100%;
    }

    .themes {
        left: 550px;
    }
}
/* ##################################### */
.vertical-menu {
    position: fixed;
    display: grid;
    text-decoration: none;
    height: 100vh;
    background-color: var(--color-2);
    grid-template-rows: 10% 30% 30% 30% 1fr;
    transition: var(--opening-speed), height 0.0s;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: 4.0s;
}

.logo a {
    font-size: x-large;
    color: var(--color-text);
}

.logo:hover {
    background-color: var(--color-4);
    border: 3px solid white;
    transition: 1.4s;
}

.vertical-menu-text {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--hover-speed);
}

.vertical-menu-text a {
    writing-mode: sideways-lr;
    font-size: large;
}

.vertical-menu-text:hover {
    background-color: var(--color-2hover);
    border-right: 2px solid white;
    transition: border-right 0.2s, background-color 0.5s;
}
/* <><><><><><><><><><><><><><><><><><><><><><><><><> */

.info-menu-bar {
    position: absolute;
    top: 10px;
    background-color: var(--color-2);
    color: var(--color-1);
    overflow: hidden;
    transition: var(--opening-speed);
}
.info-menu-bar-state {
    height: 40px;
    transition: height var(--closing-speed);
}
.info-menu-bar * {
    transition: var(--hover-speed);
}
.info-menu-bar span:hover {
    background-color: var(--color-2hover);
    transition: var(--hover-speed);
}
.info-menu-bar a:hover {
    background-color: var(--color-2hover);
    transform: translateY(-4px);
    transition: var(--hover-speed);
}

.info-menu {
    position: absolute;
    top: 50px;
    height: 0px;
    
    border-bottom-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);

    line-height: 1.5;
    background-color: var(--color-1);
    overflow: auto;

    transition: var(--closing-speed);
}

.info-menu-show {
    height: max(55%, 300px);
    transition: height var(--opening-speed);
}

.info-menu img {
    position: relative;
    left: 10px;
    width: 160px;
    height: 160px;
}

.info-menu-text {
    position: absolute;
    left: 10px;
    width: 90%;
}

/* <><><><><><><><><><><><><><><><><><><><><><><><><> */

.chat-menu {
    position: absolute;
    bottom: 10px;
    height: 0px;
    
    border-radius: var(--border-radius);
    line-height: 1.5;
    background-color: var(--color-1);
    overflow: auto;

    transition: height var(--opening-speed);
}

.chat-menu-show {
    height: 250px;
    transition: height var(--closing-speed);
}

.chat-menu-bar {
    position: absolute;
    bottom: 10px;
    color: var(--color-1);
    background-color: var(--color-2);
    overflow: hidden;

    transition: var(--opening-speed);
}
.chat-menu-bar * {
    transition: var(--hover-speed);
}
.chat-menu-bar span:hover {
    background-color: var(--color-2hover);
    transition: var(--hover-speed);
}
.chat-menu-bar a:hover {
    background-color: var(--color-2hover);
    transform: translateY(-4px);
    transition: var(--hover-speed);
}

.chat-menu-bar-show {
    bottom: 240px;
    transition: bottom var(--closing-speed);
}

.chat-menu-bar a:hover {
    background-color: var(--color-2hover);
}
/* chat stream */
.chat-stream {
    position: absolute;
    left: 10px;
    bottom: 12px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    background-color: var(--color-1);
    overflow: auto;
}

.chat-bar {
    position: absolute;
    display: inline-block;
    left: 10px;
    bottom: 10px;
    height: 40px;
    width: calc(100% - 10px);
    overflow: hidden;
}

.chat-bar input {
    position: absolute;
    display: inline-block;
    line-height: 1;
    background-color: var(--color-2);
    color: var(--color-text);
    left: 0px;
    border-style: none;
    overflow: auto;
}

.chat-bar a {
    position: absolute;
    text-align: center;
    text-decoration: none;
    right: 5px;
    color: var(--color-text);
    font-size: large;
    line-height: 2;
    background-color: var(--color-2);
    border-left: 4px solid;
    border-color: var(--color-1);
}

.chat-bar a:hover {
    background-color: var(--color-2hover);
}

/* theme block */
.themes {
    position: absolute;
    text-align: center;
    bottom: 10px;
    width: 0px;
    height: 270px;
    background-color: var(--color-1);
    overflow: auto;
    transition: width var(--closing-speed);
}

.themes-show {
    width: 100px;
    transition: width var(--opening-speed);
}

.themes a {
    display: block;
    text-decoration: none;
    width: 100%;
    height: 40px;
    font-size: large;
    background-color: var(--color-2);
    overflow: auto;
    border-bottom: 1px solid;
    border-color: var(--color-2hover);
}

.themes a:hover {
    background-color: var(--color-2hover);
}