.user-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 50px;
    height: 50px;
    color: var(--color-text);
    text-align: center;
    line-height: 3;
    transition: var(--hover-speed);
}

.user-icon a {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--color-2);
    border-radius: 100%;
    transition: var(--hover-speed);
    border: 1px solid white;
}

.user-icon :hover {
    background-color: var(--color-2hover);
    transition: var(--hover-speed);
}
/* user info window */
.user-info {
    position: absolute;
    text-decoration: none;
    right: calc(50% - 300px);
    top: calc(50% - 250px);
    width: 600px;
    height: 500px;
    background-color: var(--color-1);
    color: var(--color-text);
    opacity: 0%;
    visibility: hidden;
    transition: calc(var(--opening-speed));
}

.user-info:before {
    opacity: 0%;
    transition: 2s;
}

.user-info-show {
    opacity: 100%;
    visibility: visible;
    transition: calc(var(--closing-speed));
}

/* Menu bar */
.user-info-tabs {
    position: sticky;
    width: 100%;
    height: 40px;
}

.user-info-tabs ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: var(--color-text);
}

.user-info-tabs ul li {
    float: left;
    height: 100%;
    width: 33.333%;
    text-align: center;
}

.user-info-tabs ul li a {
    display: inline-block;
    text-decoration: none;
    width: 100%;
    line-height: 2.5;
    background-color: var(--color-2);
    transition: var(--hover-speed);
}
.user-info-tabs ul li a:hover {
    background-color: var(--color-2hover);
    transition: var(--hover-speed); 
}
/* ###### */

.user-info-page1 {
    width: 100;
    height: 460px;
    overflow: auto;
}

.user-info-page1 * {
    left: 10px;
    width: 96%;
}
/* #### */

.user-info-icon {
    position: relative;
    right: 10px;
    height: 40%;
    width: 100%;
}

.user-info-icon-image {
    position: absolute;
    width: 160px;
    height: 160px;
    image-rendering: crisp-edges;
}

.user-info-icon div {
    position: relative;
    left: 35%;
    height: 40%;
    width: 40%;
    font-size: large;
}

.user-info-page1-iconlist {
    position: relative;
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto;
    border: 1px solid white;    
    background-color: var(--color-2);
}

.user-info-page1-iconlist :hover {
    background-color: var(--color-2hover);
    transition: var(--hover-speed);
}

.user-info-page1-iconlist * {
    width: 100%;
    height: auto;
    image-rendering: crisp-edges;
    background-color: var(--color-2);
    transition: var(--hover-speed);
}